body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 400
}

hr {
	border: 2px solid #7d97ad;
}

h3 {
	font-size: 40px;
}
.title-logo {
    height: 100%;
    margin-bottom: 16.5px;
    margin-top: 16.5px;
}

.title-super {
	font-size: 60px;
	font-weight: 100;
}

.title-sub {
	font-size: 25px;
}

.text-muted {
	font-size: 35px;
	color: #7d97ad;
	font-weight: 300;
}

.img-setting {
	width: 100%;
}

.row.display-flex {
	display: flex;
  	flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
	flex-grow: 1;
}
